body {
  background-color: #edf1f6;
}
.Myname {
  background-color: black;
  color: white;
}
.Face {
  width: 100%;
  height: 50%;
}
.MyProfile {
  text-align: center;
  font-size: 150%;
  font-style: italic;
}
.Guns_title {
  text-align: center;
  background-color: aquamarine;
}
.Guns {
  text-align: center;
}
